<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="../Css/style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="#">
        <title>{% block title %} Home {% endblock %}</title>
    </head>

    <body>
        {% block body %}
        {% endblock %}

        <footer>
            <script src="../Js/script.js"></script>
        </footer>
    </body>
</html>