{% extends 'base.html' %}

{% block body %}

    <header>
        <div class="logo"><img src="../assets/img/logo.png"></div>
        <nav>
            <ul>
                <li><i class="fa-solid fa-house"></i><a href="index.html">Home</a></li>
                <li><i class="fa-solid fa-user"></i><a href="profile.html">Profile</a></li>
                <li><i class="fa-solid fa-users"></i><a href="#">Employees</a></li>
            </ul>
        </nav>
    </header>
    <main> 
        <section>
            <h1>Gestion Des Attestations De Domiciliation</h1>
            <table>
                <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Grade</th>
                        <th>DN</th>
                        <th>CIN</th>
                        <th>Sexe</th>
                        <th>Affiliation RCAR</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <form action="http://127.0.0.1:8000" method="post">
                            <th><input type="search" placeholder="Id" id="id" name="id"></th>
                            <th><input type="search" placeholder="Prenom" id="prenom" name="prenom"></th>
                            <th><input type="search" placeholder="Nom" id="nom" name="nom"></th>
                            <th>-----</th>
                            <th>-----</th>
                            <th><input type="search" placeholder="CIN" id="cin" name="cin"></th>
                            <th>-----</th>
                            <th>-----</th>
                            <th><input type="submit" id="submit" value="Search" name="submit"></th>
                        </form>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                {% if data %}
                        
                        <td>{{ data[0] }}</td>
                        <td>{{ data[1] }}</td>
                        <td>{{ data[2] }}</td>
                        <td>{{ data[3] }}</td>
                        <td>{{ data[4] }}</td>
                        <td>{{ data[5] }}</td>
                        <td>{{ data[6] }}</td>
                        <td>{{ data[7] }}</td>
                        <td>-----</td>

                {% elif message %}
                        <td colspan="9"> {{ message }}  </td>
                {% else %}
                        <td colspan="9"> No Data </td>
                {% endif %}
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

{% endblock %}
